<a href="https://colab.research.google.com/github/DerinOgrenme2021/MucahitSoylemez/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
// Pandas ile örnekler

In [7]:
import numpy as np
import pandas as pd

pd.__version__

'1.1.5'

In [10]:
names = pd.Series(["Mucahit","Ali","Selim"])

In [12]:
print(names)

0    Mucahit
1        Ali
2      Selim
dtype: object

In [13]:
ages = pd.Series([25,45,63])

In [14]:
print(ages)

0    25
1    45
2    63
dtype: int64

In [16]:
df = pd.DataFrame({"Name":names, "age":ages})

In [17]:
print(df)

      Name  age
0  Mucahit   25
1      Ali   45
2    Selim   63

# Yeni Bölüm